
    body {
        font-family: Arial, sans-serif;
        background-color: #79a0c2;
        color: #144a63;
        margin: 100px, 750px 10px 750px;
        padding: 20px;
        ;
    }
    
    
    
    h1 {
        color: #4650db;
        font-size: 28px;
        text-align: center;
    }
    
    
    h2 {
        color: #062533;
        font-size: 22px;
    }
    
    
    
    a {
        color: #008b8b;
        text-decoration: none;
        font-weight: bold;
        margin-right: 10px;
    }
    
    
    a:hover {
        color: #000a64;
    }